DB="postgresql"
DB_USER="postgres"
DB_HOST="localhost" # So docker accesses localhost of the pc machine.
DB_POSTGRES_PORT=5532 # Since 5432 is the default port used by pgadmin we set different one.
DB_NAME="dual_gpt_chat"
DB_PASSWORD="123456"
DB_ENCODING="utf8"

SECRET="my-secret"